<div class="container">
  <h1>CSS Flexbox</h1>

  Direction Row - no wrap
  <div class="box-row-1">
    <div class="box box-col">BOX 1</div>
    <div class="box box-col">BOX 2</div>
    <div class="box box-col">BOX 3</div>
    <div class="box box-col">BOX 4</div>
    <div class="box box-col">BOX 5</div>
    <div class="box box-col">BOX 6</div>
    <div class="box box-col">BOX 7</div>
  </div>

  Direction Column
  <div class="box-row-2">
    <div class="box box-col">BOX 1</div>
    <div class="box box-col">BOX 2</div>
    <div class="box box-col">BOX 3</div>
    <div class="box box-col">BOX 4</div>
    <div class="box box-col">BOX 5</div>
    <div class="box box-col">BOX 6</div>
    <div class="box box-col">BOX 7</div>
  </div>

  Direction Row - wrap
  <div class="box-row-3">
    <div class="box box-col">BOX 1</div>
    <div class="box box-col">BOX 2</div>
    <div class="box box-col">BOX 3</div>
    <div class="box box-col">BOX 4</div>
    <div class="box box-col">BOX 5</div>
    <div class="box box-col">BOX 6</div>
    <div class="box box-col">BOX 7</div>
  </div>

  Direction Row - wrap - grow
  <div class="box-row-4">
    <div class="box box-col">BOX 1</div>
    <div class="box box-col">BOX 2</div>
    <div class="box box-col">BOX 3</div>
    <div class="box box-col">BOX 4</div>
    <div class="box box-col">BOX 5</div>
    <div class="box box-col">BOX 6</div>
    <div class="box box-col">BOX 7</div>
  </div>

  Flexbasis with media queries
  <div class="box-row-5">
    <div class="box box-col-big">BOX 1</div>
    <div class="box box-col">BOX 2</div>
    <div class="box box-col">BOX 3</div>
    <div class="box box-col-big">BOX 4</div>
    <div class="box box-col">BOX 5</div>
    <div class="box box-col">BOX 6</div>
    <div class="box box-col-big">BOX 7</div>
  </div>
</div>
